<div *ngIf="isAuthenticated">
    <div class="row-cols-1">
        <nav class="navbar">
            <a class="navbar-brand" routerLink="/">Logo</a>
            <div class="btn-group">
                <button type="button"  (click)="goTo('dashboard')">Dashboard</button>
                <button type="button" (click)="goTo('logout')">Logout</button>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <app-leftsidebar (clickInLeftSidePanel)="onclickleftsidepanel($event)"></app-leftsidebar>
            </div>
            <div class="col-8">
                <app-questions [InputFromParent] = 'msgfromLeftpanel' ></app-questions>
            </div>
            <div class="col-2">
                <app-dashboard></app-dashboard>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isAuthenticated">
    <div class=row-cols-1>
        <nav class="navbar" >
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/">Logo</a>
            </div>
            <div class="btn-group">
                <button type="button" style="background-color: transparent"><a routerLink="/register">Sign Up</a></button>
                <button type="button" style="background-color: transparent" ><a routerLink="/login">Login</a></button>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <app-leftsidebar (clickInLeftSidePanel)="onclickleftsidepanel($event)"></app-leftsidebar>
            </div>
            <div class="col-8">
                <app-questions [InputFromParent] = 'msgfromLeftpanel' ></app-questions>
            </div>
            <div class="col-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

